@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

@font-face {
  font-family: IRANsans;
  src: url(/font/IRAN\ Sans\ Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: IRANsans;
  src: url(/font/IRAN\ Sans\ Bold.ttf);
  font-weight: bold;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  user-select: none;
  -webkit-user-drag: none;
}

body {
  direction: rtl;
  font-family: IRANsans;
}

img {
  width: 100%;
  height: 150px;
  object-fit: fill;
}

.card {
  min-height: 10rem;
  flex: 19rem 0 1;
  box-shadow: rgb(167, 167, 167);
  transition: 0.5s;
  cursor: pointer;
}

.best-offer {
  font-size: 0.75rem;
  color: hsl(0, 0%, 100%);
}

.star-yellow {
  color: rgb(214, 184, 10);
}

.start-grey {
  color: rgb(114, 114, 114);
}

.red-badge {
  color: rgb(255, 255, 255);
  background-color: rgb(179, 18, 18);
}

.grey-badge {
  color: rgb(255, 255, 255);
  background-color: hsl(0, 0%, 50%);
}

.action {
  width: 45px;
  height: 45px;
  transition: 0.5s all;
}

.action:hover {
  width: 90px !important;
  border-radius: 20%/50% !important;
}

.action-title {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: 0.8s opacity;
}

.action:hover .action-title {
  position: static;
  visibility: visible;
  opacity: 1;
}

footer {
  background-color: #000;
}

.footer-icon {
  color: hsl(0, 0%, 100%);
}

@media only screen and (min-width: 1440px) {
  .banner {
    height: 70vh;
  }
}
